# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Directories #
target/
build/
bin/
.settings/
.settings/*

# Files #
.project
.classpath
.idea
route-analyzer.iml

/src/test/resources/mongodb/mongo-volume/
